/* to erase the up/down arrows in number input*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#loading{
    display: none;
}
#results{
    display:none;
}